#makeASchedule {
    margin-top: 70px;
  height: 495px;
  width: 100%;
}
.schedule-banner-image {
  border-radius: 1000px;
}
.border-rotate {
  height: 375px;
  position: absolute;
  z-index: -1;
  border: 2px solid #4D77FF;
  width: 626px;
  border-radius: 1000px;
  left: 7px;
  transform: rotate;
  transform: rotate(358deg);
}
.left-col{
    margin-right: 40px;
}