.service-card {
  height: 290px;
  position: absolute;
  border: none;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
  border-radius: 0px 0px 10px 10px;
}
.singleService-card-img {
  height: 40px;
  width: 40px;
  box-shadow: 0px 10px 40px rgba(18, 18, 18, 0.1);
  border-radius: 0px 0px 10px 10px;
}
.short-des {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #696969;
}
.card-btn {
  position: absolute;
  bottom: 40px;
  background: #4d77ff;
}
