.header-banner-img {
  height: 471px;
  z-index: 0;
}
.left-header-banner-text {
  font-weight: 700;
  font-size: 40px;
}
.text-blue {
  color: #4d77ff;
}
.header-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.contact-us-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  gap: 10px;
  width: 162px;
  height: 52px;
  background: #4d77ff;
  border-radius: 10px;
}
.banner-img-holder {
  height: 471px;
  z-index: 0;
  right: -123px;
  position: relative;
}
.myCard {
  width: 168px;
  height: 188px;
  bottom: 65px;
  left: -14px;
  position: absolute;
}
.btn-blue {
  background: #4d77ff !important;
  color: #fff;
  border-radius: 8px;
}
.ellips {
  position: absolute;
  left: -180px;
  top: 151px;
  background: #4d77ff;
  z-index: -1;
  width: 1240px;
  height: 1240px;
  border-radius: 50%;
}
