footer{
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer-large-text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #121212;
}
.footer-left {
  position: relative;
  right: -74px;
}
.footer-right{
    position: relative;
    left: -72px;
}
.footer-link{
    text-decoration: none;
    color: #121212;
}
.footer-link:hover{
    text-decoration: none;
    color: #121212;
}

